 <h2>Search Result </h2>
<% if @search.search_users.empty? %>
  <%= "No user found" %>
  <% else %>
  <% @search.search_users.each do |user| %>
  <%= link_to user.name, user %> <br>
  <% end %>
<% end %>
